

  <div class="col-xs-12 col-sm-12  col-md-12">
    <mat-expansion-panel [expanded]="true" class="online-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <h3 class="my-5" matBadgeOverlap="false" [matBadge]="this.getOnline()">Підключені</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <ng-template ngFor let-computer="$implicit" [ngForOf]="getComputersByGroup()" >
          <div class="col-xs-12 off offset-sm-1 col-sm-10 col-md-4" *ngIf="computer.online">
              <app-computer-card  [computer]="computer"></app-computer-card>
          </div>
          </ng-template>

        </div>
    </mat-expansion-panel>
</div>


<div class="col-xs-12 col-sm-12  col-md-12">
    <mat-expansion-panel [expanded]="true" class="offline-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <h3 class="my-5 " matBadgeOverlap="false" [matBadge]="getComputersByGroup().length-getOnline()">Відключені</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>



        <div class="row">
            <ng-template ngFor let-computer="$implicit" [ngForOf]="getComputersByGroup()" >
                <div class="col-xs-12 offset-sm-1 col-sm-10 col-md-4" *ngIf="!computer.online">
                    <app-computer-card  [computer]="computer"></app-computer-card>
                </div>
            </ng-template>
        </div>
    </mat-expansion-panel>
</div>
