<mat-card *ngIf="this.computer" >
    <mat-menu #computerMenu="matMenu">
        <button mat-menu-item>
            <fa-icon [icon]="['far','edit']"></fa-icon>
          <span>Поміняти ім'я комп'ютера</span>
        </button>

        <button mat-menu-item (click)="selectGroup()">
            <fa-icon [icon]="['fas','object-group']"></fa-icon>
          <span>Вибрати групу</span>
        </button>
      </mat-menu>
  <mat-card-header>
    <div mat-card-avatar class="computer-header-image"></div>
    <mat-card-title><fa-icon [icon]="['fas','circle']" size="xs" [style.color]="this.computer.online ? 'green' : 'red'"></fa-icon>{{ this.computer.name }}</mat-card-title>
    <mat-card-subtitle>{{ this.computer.hostName }}</mat-card-subtitle>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="computerMenu"><mat-icon>more_vert</mat-icon></button>

  </mat-card-header>
  <mat-card-content>
    <p *ngIf="this.computer.cpuName">CPU: {{ this.computer.cpuName }}</p>
    <p *ngIf="this.computer.gpuName">GPU: {{ this.computer.gpuName }}</p>
    <p *ngIf="this.computer.ram">RAM: {{ round(this.computer.ram) }} GB</p>

  </mat-card-content>
  <mat-card-actions >

      <mat-chip-list  selectable="false">
          <mat-chip *ngIf="computer.online" >
              <fa-icon [icon]="['fas','thermometer-quarter']" size="2x"></fa-icon>
              <span
              [countUp]="tempValue"
              [options]="tempOptions"
              reanimateOnClick="false"
              >0</span>
          </mat-chip>
          <mat-chip *ngIf="computer.online" >
              <fa-icon [icon]="['fas','tachometer-alt']" size="2x"></fa-icon>
              <span
              [countUp]="loadValue"
              [options]="loadOptions"
              reanimateOnClick="false"
              >0</span>
          </mat-chip>

          <mat-chip class="last-update" *ngIf="!computer.online" >
              <fa-icon [icon]="['far','calendar-alt']" size="2x"></fa-icon>
              <span >{{ computer.lastUpdate | date: 'dd/MM/yy HH:mm'}}</span>
          </mat-chip>
      </mat-chip-list>
    <span class="spacer"></span>
    <button mat-fab [routerLink]="['/computer', computer._id]">Детально</button>
  </mat-card-actions>
</mat-card>


