
<app-navigation>



  <main>
    <div class="row">
      <div class="col-xs-12 col-sm-6  col-md-4">
          <app-computer-card [computer]="this.computer"></app-computer-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <app-computer-card [computer]="this.computer"></app-computer-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <app-computer-card [computer]="this.computer"></app-computer-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <app-computer-card [computer]="this.computer"></app-computer-card>
      </div>
    </div>


  </main>


</app-navigation>




