

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode] = "!(isHandset$ | async)? 'side' : 'over'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="first-top" color="primary" *ngIf="!(isHandset$ | async)"></mat-toolbar>
    <ng-content select="[sidebar]"></ng-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="fixed-header" color="primary" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Моніторинг комп'ютерного класу</span>

      <span class="spacer"></span>
      <button class='tb-btn' mat-fab color="primary" [routerLink]="['/about']">
        <mat-icon >info</mat-icon>
      </button>
      <a  target="_blank" href="/assets/client.zip"> <button class='tb-btn' mat-fab color="primary">
        <mat-icon>download</mat-icon>
      </button></a>
    </mat-toolbar>
    <ng-content select="[main]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
