.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

}

.sidenav {
  border: 0px;
}

.sidenav *:not(.first-top){
  background: inherit;
}

.fixed-header{
  position: sticky;
  z-index: 9999;
  top: 0;

}

mat-sidenav-content{
  overflow: hidden;
}
