.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

}

.sidenav {
  border: 0px;
}

.sidenav *:not(.first-top){
  background: inherit;
}
.tb-btn{
  margin: 15px;
}

.fixed-header{
  position: sticky;
  z-index: 9999;
  top: 0;
  padding-right: 50px;
}

mat-sidenav-content{
  overflow-x: hidden;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/assets/bg.png');
}


.icon {
  padding: 0 14px;
}
.spacer {
  flex: 1 1 auto;
}