<div class="col-xs-12 col-sm-12  col-md-12">
  <mat-card *ngIf="this.computer" >
    <mat-card-subtitle style="float: right;">Оновлено: {{ this.now | timeback }} </mat-card-subtitle>

  <mat-card-header >


    <mat-card-title ><h2>{{ this.computer.name }}</h2></mat-card-title>
    <mat-card-subtitle>MAC-адрес: {{ this.computer.macAddress }}</mat-card-subtitle>


  </mat-card-header>

  <mat-card-content>
    <div class="row">
        <div class="col-xs-12 col-sm-12  col-md-8 offset-md-2">
            <mat-card *ngIf="this.computer.cpuName" >
                <mat-card-header>

                  <mat-card-title><h5>Загальні характериститки</h5></mat-card-title>
                  <mat-card-subtitle>Ім'я хосту: {{ this.computer.hostName }}</mat-card-subtitle>
                  <mat-card-subtitle>Материнська плата: {{ this.computer.motherboard }}</mat-card-subtitle>
                  <mat-card-subtitle>MAC-адрес: {{ this.computer.macAddress }}</mat-card-subtitle>
                  <mat-card-subtitle>Статус підключення: {{ this.computer.online? 'Підключений': 'Відключений' }}</mat-card-subtitle>
                  <mat-card-subtitle>Останнє оновлення показників: {{ this.computer.lastUpdate | date: 'dd/MM/yy HH:mm:ss' }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>



                </mat-card-content>

              </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12  col-md-6">
            <mat-card *ngIf="this.computer.cpuName" >
                <mat-card-header>

                  <mat-card-title><h5>Центральний процесор</h5></mat-card-title>
                  <mat-card-subtitle>Модель: {{ this.computer.cpuName }}</mat-card-subtitle>
                  <mat-card-subtitle>Ядер: {{ this.computer.cpuCores }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                  <div class="card" *ngIf="this.current">
                    <div class="card-body">
                      <h4 class="card-title">Температура:</h4>
                      <div class="progress w-50" *ngFor="let temp of this.current.CPU.Tempeture; let i = index">
                          <div class="progress-bar bg-danger" role="progressbar" [style.width]="temp+'%'" aria-valuemin="0" aria-valuemax="100">Ядро №{{ i + 1}} : {{ temp }} ℃</div>
                       </div>
                    </div>
                  </div>

                  <div class="card" *ngIf="this.current">
                      <div class="card-body">
                        <h4 class="card-title">Навантаження:</h4>
                        <div class="progress w-50" *ngFor="let load of this.current.CPU.Load; let i = index">
                            <div class="progress-bar bg-warning" role="progressbar" [style.width]="load+'%'" aria-valuemin="0" aria-valuemax="100">Ядро №{{ i + 1}} : {{ load }}%</div>
                         </div>
                      </div>
                    </div>






                </mat-card-content>

              </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12  col-md-6">
            <mat-card *ngIf="this.computer.gpuName" >
                <mat-card-header>

                  <mat-card-title><h5>Графічний процесор</h5></mat-card-title>
                  <mat-card-subtitle>Модель: {{ this.computer.gpuName }}</mat-card-subtitle>
                  <mat-card-subtitle>Відеопам'ять: 2 GB</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                <div class="card" *ngIf="this.current">
                    <div class="card-body">
                      <h4 class="card-title">Температура:</h4>
                      <div class="progress w-50">
                          <div class="progress-bar bg-danger" role="progressbar" [style.width]="this.current.GPU.Tempeture+'%'" aria-valuemin="0" aria-valuemax="100">{{ this.current.GPU.Tempeture }} ℃</div>
                        </div>
                    </div>
                  </div>


                </mat-card-content>

              </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12  col-md-6">
            <mat-card *ngIf="this.computer.cpuName" >
                <mat-card-header>
                  <mat-card-title><h5>Оперативна пам'ять</h5></mat-card-title>
                  <mat-card-subtitle>Вмісткість: {{ this.computer.ram }} GB</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="card" *ngIf="this.current">
                        <div class="card-body">
                          <h4 class="card-title">Пам'ять:</h4>
                          <div class="progress">
                              <div class="progress-bar bg-success" [style.width]="getRAM(false)+'%'" role="progressbar"  aria-valuemin="0" aria-valuemax="100">Вільно: {{ this.current.RAM.AvaliableMemory | number }} GB</div>
                              <div class="progress-bar bg-danger" role="progressbar" [style.width]="getRAM(true)+'%'"  aria-valuemin="0" aria-valuemax="100">Використано: {{  this.current.RAM.UsedMemory | number }} GB</div>
                            </div>
                        </div>
                      </div>


                </mat-card-content>

              </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12  col-md-12">
            <mat-card *ngIf="this.computer.cpuName" >
                <mat-card-header>
                  <mat-card-title><h5>Графік активності</h5></mat-card-title>

                </mat-card-header>
                <mat-card-content>

                  <div *ngIf="chart">
                    <canvas id="canvas"> {{ chart }}</canvas>
                  </div>

                </mat-card-content>

              </mat-card>
        </div>
    </div>




  </mat-card-content>
  <mat-card-actions >

  </mat-card-actions>
</mat-card>
</div>


