<div class="col-xs-12 col-sm-12  col-md-12">

    <mat-card>
        <mat-card-header>
          <mat-card-title>Знімки екрану</mat-card-title>
          <!-- <mat-card-subtitle>{{ this.lastScreen.date | date: 'dd/MM/yy HH:mm:ss' }}</mat-card-subtitle> -->
          <button class="scr-all mat-raised-button" [routerLink]="['/computer', this.id]" color="primary">Повернутись назад</button>
        </mat-card-header>
        <hr>
        <mat-card-content>

            <mat-accordion displayMode="flat">
              
                <mat-expansion-panel   *ngFor="let key of orderScreens; let i=index;" [expanded]="i === 0">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ key | date: 'dd/MM/yy'}}
                    </mat-panel-title>
                    <mat-panel-description>
                        Знімків {{ mappedScreens[this.getDateKey(key)].length }}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <hr class="hr-pad">

                  <div class="row">
                    <div class="col-xs-12 col-sm-12  col-md-3" *ngFor="let scr of mappedScreens[this.getDateKey(key)]">

                        <mat-card class="img-card" (click)="this.openScreenShot(scr)">
                            <img mat-card-image [src]="this.getScreenURL(scr)" alt="Deleted :(">
                            <mat-card-content>
                                <p>
                                    {{ scr.date | date: 'HH:mm:ss' }}
                                </p>
                              </mat-card-content>
                        </mat-card>

                    </div>

                  </div>
                </mat-expansion-panel>
              </mat-accordion>
        </mat-card-content>
      </mat-card>
</div>
